<form [formGroup]="studentProfile" (ngSubmit)="onSubmit()">

    <!------------------ First Name ----------------------------->

    <label for="firstName"> FIRST NAME :</label>
    <input type="text" id="firstName" formControlName="firstName" required />

    <div *ngIf="studentProfile.invalid" class="alert alert-danger">
        <div *ngIf="firstName.errors?.lengthValidation">
            FirstName is required.
        </div>

        <div *ngIf="firstName.errors?.minlength">
            <span style="color:Red" ng-show="registrationProfile.firstName.$error.firstName"> Length of FirstName is
                lesser
                than 5
                chars. </span>
        </div>

        <div *ngIf="firstName.errors?.maxlength">
            <span style="color:Red" ng-show="registrationProfile.firstName.$error.firstName"> Length of FirstName is
                more than
                10
                chars. </span>
        </div>
    </div>

    <!------------------ Last Name ----------------------------->

    <br><br>
    <label for="lastName"> LAST NAME :</label>
    <input type="text" id="lasttName" formControlName="lastName" />

    <div *ngIf="studentProfile.invalid" class="alert alert-danger">
        <div *ngIf="lastName.errors?.minlength">
            LastName is required.
        </div>

        <div *ngIf="lastName.errors?.minlength">
            <span style="color:Red" ng-show="studentProfile.lastName.$error.lastName"> Length of LastName is lesser than
                5
                chars.</span>
        </div>

        <div *ngIf="lastName.errors?.maxlength">
            <span style="color:Red" ng-show="studentProfile.lastName.$error.lastName"> Length of LastName is more than
                10
                chars.</span>
        </div>

        <span style="color:Red" ng-show="studentProfile.email.$error.required"> Required! </span>

        <span style="color:Red" ng-show="email.errors?.email">Please Enter Valid
            Email</span>

    </div>

    <!------------------ Email Id ----------------------------->

    <br><br>
    <label for="email"> Email ID :</label>
    <input type="text" id="email" formControlName="email" maxlength="30" />

    <!------------------ Mobile Number ----------------------------->

    <br><br>
    <label for="mobileNumber"> Mobile Number :</label>
    <input type="text" id="mobileNumber" formControlName="mobileNumber" maxlength="10" />(10 digit number)

    <!------------------ Gender ----------------------------->

    <br><br>
    <div *ngIf="gender.errors?.required">
        <span style="color:Red" ng-show="studentProfile.required.$error.required"> Please select a Gender. </span>
    </div>

    Male <input type="radio" formControlName="gender" id="gender" value="Male" />
    Female <input type="radio" formControlName="gender" id="gender" value="Female" />

    <!------------------ Address ----------------------------->

    <br><br>
    <label for="address"> ADDRESS :</label>
    <input type="text" id="address" formControlName="address" />

    <!------------------ CITY ----------------------------->

    <br><br>
    <label for="city"> CITY :</label>
    <input type="text" id="city" formControlName="city" />

    <!------------------ PIN CODE ----------------------------->

    <br><br>
    <label for="pinCode"> PIN CODE :</label>
    <input type="text" id="pinCode" formControlName="pinCode" minlength="6" />(6 digit number)

    <!------------------ STATE ----------------------------->

    <!--    <br><br>
    <label for="state"> STATE :</label>
    <input type="text" id="state" formControlName="state" /> -->

    <br><br>
    <div *ngIf="state.errors?.required">
        <span style="color:brown" ng-show="studentProfile.required.$error.required"> Please select a State. </span>
    </div>

    <select formControlName="state">
        <option value="">Choose your state</option>
        <option *ngFor="let state of States" [ngValue]="state" (change)="changeStates($event)">{{state}}
        </option>
    </select>

    <!------------------ COUNTRY ----------------------------->

    <!--    <br><br>
    <label for="country"> COUNTRY :</label>
    <input type="text" id="country" formControlName="country" /> -->

    <br><br>
    <div *ngIf="country.errors?.required">
        <span style="color:Red" ng-show="studentProfile.required.$error.required"> Please select a Country. </span>
    </div>

    <select formControlName="country">
        <option value="">Choose your state</option>
        <option *ngFor="let country of Country" [ngValue]="country" (change)="changeCountry($event)">{{country}}
        </option>
    </select>
<!------------------ HOBBIES ----------------------------->

    <tr>
        <td>HOBBIES <br /><br /><br /></td>

        <td>
            Drawing
            <input type="checkbox" formControlName="drawing" id="drawing" value="Drawing" />

            Singing
            <input type="checkbox" formControlName="singing" id="singing" value="Singing" />

            Dancing
            <input type="checkbox" formControlName="dancing" id="dancing" value="Dancing" />

            Others
            <input type="checkbox" formControlName="others" id="others" value="Other">
            <input type="text" formControlName="Other_Hobby" maxlength="15" />
        </td>
    </tr>

    <!--    <br><br>
    <label for="hobbies"> BOBBIES :</label>
    <input type="text" id="hobbies" formControlName="hobbies" />

    <br><br>
    <label for="qualification"> QUALIFICATION :</label>
    <input type="text" id="qualification" formControlName="qualification" />
-->
    <button type="submit" [disabled]="!studentProfile.valid">Submit</button>

</form>